.score-board {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  border-radius: 0;

  .title {
    padding: 5px;
  }

  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 16px -10px rgba(0,0,0,0.75);

    .formRow {
        height: 55px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .row-name {
      background-color: #c8c9af;
    }

    .row-coin {
      background-color: #7cd7d0;
    }

    .row-vizir {
      background-color: #ffeb9a;
    }

    .row-craftman {
      background-color: #cdaed6;
    }

    .row-sage {
      background-color: #ece3d5;
    }

    .row-djinn {
      background-color: #fdbfdc;
    }

    .row-palmTree {
      background-color: #ebd09c;
    }

    .row-palace {
      background-color: #bcc5cc;
    }

    .row-camel {
      background-color: #ffd59e;
    }

    .row-object {
      background-color: #cdaed6;
    }

    .row-merchandise {
      background-color: #dee89e;
    }

    .row-score {
      background-color: #c8c9af;
    }

    .formColumn {
      width: 20%;
    }

    .inputs {
      max-width: 46px;
    }

    .item-column-content {
      max-width: 150px;

      .item-content {
        display: flex;
        justify-content: space-between;
        padding-left: 5px;

        .item-label {
          display: none;
        }

        .game-icons-content {
          width: 50px;
          height: 100%;

          .game-icons {
            height: 100%;
          }
        }
      }
    }

    .formCell {
      text-align: center;
      mat-label {
        line-height: 55px;
      }
    }


  }

  .button-content {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

    button {
      margin-right: 8px;
    }
  }
}

@media(min-width: 676px) {
  .score-board {
    padding: 16px;
    border-radius: 4px;

    .wrapper {
      .item-column-content .item-content .item-label {
        display: block;
      }

      .inputs {
        max-width: 60px;
      }
    }
  }
}
