<mat-card class="score-board">
    <mat-card-title class="title">
        {{ 'game.scoreBoardTitle' | translate }}
    </mat-card-title>
    <mat-card-content>
        <form #scoreBoard="ngForm" (ngSubmit)="onSubmit(scoreBoard)" novalidate>
            <div class="wrapper">
                <div *ngFor="let row of gameKeys; let rowId = index" class="formRow row-{{ row }}">
                    <div class="formColumn item-column-content">
                        <div class="formCell item-content">
                            <mat-label class="{{ row !== 'name' && row !== 'score' ? 'item-label' : '' }}">{{ "items."+row | translate }}</mat-label>
                            <div *ngIf="row !== 'name' && row !== 'score'" class="game-icons-content">
                              <img class="game-icons" src="assets/icons/{{ row }}.svg">
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let column of gameObjectFormatted[row].playersRow let columnId = index" class="formColumn">
                        <div class="formCell">
                          <ng-container *ngIf="row !== 'score'; else score">
                            <input
                            type="{{row === 'name'? 'text' : 'number'}}"
                            (click)="clearIfDefault(columnId, row)"
                            min="{{ row === 'name'? null : 0}}"
                            matInput
                            [(ngModel)]="gameService.playersListItem[columnId][row]"
                            id="{{ row }}-{{ columnId }}"
                            name="{{ row }}-{{ columnId }}"
                            class="inputs"
                            autocomplete="off">
                          </ng-container>
                          <ng-template #score>
                            <input
                            matInput
                            readonly
                            type="text"
                            class="inputs"
                            value="{{ gameService.playersListItem[columnId]['score'] }}"
                            >
                          </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-content">
              <button mat-raised-button color="primary" type="submit"> {{ 'game.getScoreLabel' | translate }}</button>
              <button mat-raised-button color="warn" type="button"
                (click)="initGame()"> {{ 'game.resetGameLabel' | translate }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
