<mat-card>
    <mat-card-title>
        {{ scoreBoardTitle }}
    </mat-card-title>
    <mat-card-content>
        <form #scoreBoard="ngForm" (ngSubmit)="onSubmit(scoreBoard)" novalidate>
            <div class="wrapper">
                <div *ngFor="let row of gameArrayFormatted; let rowId = index" class="formRow">
                    <div class="formColumn">
                        <div class="formCell">
                            <mat-label>{{gameArrayFormatted[rowId][1]}}</mat-label>
                        </div>
                    </div>
                    <div *ngFor="let column of row[2]; let columnId = index" class="formColumn">
                        <div class="formCell">
                            <input
                            type="{{row[0] === 'name'? 'text' : 'number'}}"
                            matInput
                            [ngModel]="gameArrayFormatted[rowId][2][columnId]"
                            id="{{gameArrayFormatted[rowId][0]}}-{{columnId}}"
                            name="{{gameArrayFormatted[rowId][0]}}-{{columnId}}">
                        </div>
                    </div>
                </div>
            </div>
            <button mat-raised-button color="primary" type="submit">Get scores</button>
        </form>
    </mat-card-content>
</mat-card>
