.players {
    width: 400px;
    margin: 0 auto;
    .content {
        display: flex;
        justify-content: space-between;
        padding: 5vh;
        flex-direction: column;
        .mat-slide-toggle {
          margin: 5vh 0;
        }
    }
}
