.players {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 0;

    .content {
        display: flex;
        justify-content: space-between;
        padding-top: 2vh;
        flex-direction: column;

        .toggle-label {
          white-space: normal;
        }

        .mat-slide-toggle {
          margin: 2vh 0 4vh;
        }
    }
}

@media(min-width: 676px) {
  .players {
    border-radius: 4px;
  }
}
