.players {
    max-width: 400px;
    margin: 0 auto;

    .content {
        display: flex;
        justify-content: space-between;
        padding-top: 2vh;
        flex-direction: column;

        .toggle-label {
          white-space: normal;
        }

        .mat-slide-toggle {
          margin: 2vh 0 4vh;
        }
    }
}
