.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;

  .language-module {

    .flag-toggle {
      padding: 0 14px;
    }
  }
}

.main-body {
    height: calc(100% - 56px); // 56 is the min height of the toolbar
    background: rgb(2, 0, 36);
    background: linear-gradient(218deg, rgba(2, 0, 36, 1) 0%, rgba(15, 74, 118, 1) 75%, rgba(64, 122, 142, 1) 100%);
    display: flex;

    .main-content {
        flex: 1;
        margin: 0 auto;
    }
}

@media(min-width: 600px) {
  .main-body {
    height: calc(100% - 64px); // 64 is the min height of the toolbar for desktop
  }
}

@media(min-width: 676px) {
      .main-content {
        padding: 1%;
        max-width: 95%;
        flex: 1;
        margin: 0 auto;
    }
}
